
.box {
  width: 250px;
  height: 240px;
  background-color: aqua;
  border-radius: 8px;
  margin: 20px;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  box-shadow: 0 0 .5rem #505050;
}

p {
  margin: 0;
  padding: 0;
}

h3 {
  margin: 0;
  padding: 0;
}

.box:hover {
  transform: scale(1.1);
  background-color: rgb(2, 165, 165);
}